/* app css stylesheet */

body {
  background-color: #e5e5e5;
}

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li + li:before {
  content: "|";
  padding-right: 0.3em;
}

body {
  overflow-x: hidden;
}

.main-container, .education-section, .experience-section, .resume-section {
  border: 1px solid #000;
  margin: 30px 100px;
  padding: 20px;
  background-color: #F8F8F8
}

/* Toggle Styles */

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-left: 200px;
}

#sidebar-wrapper {
  z-index: 1000;
  position: fixed;
  left: 200px;
  width: 0;
  height: 100%;
  margin-left: -200px;
  overflow-y: auto;
  background: darkcyan;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 200px;
}

#page-content-wrapper {
  width: 100%;
  position: absolute;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -200px;
}

/* Sidebar Styles */

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 200px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
  border-bottom: 2px solid #dbdbdb;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #f8f8f8;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #f8f8f8;
  background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
}

.sidebar-nav > .sidebar-brand a {
  color: #f8f8f8;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #f8f8f8;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
    padding-left: 200px;
  }

  #wrapper.toggled {
    padding-left: 0;
  }

  #sidebar-wrapper {
    width: 200px;
  }

  #wrapper.toggled #sidebar-wrapper {
    width: 0;
  }

  #page-content-wrapper {
    position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0;
  }
}

.job-position-container,
.resume-container,
.education-container {
  border: 1px solid #000;
  background-color: #fff;
  margin: 10px 0;
  padding: 20px;
}

.resume-btn {
  border-radius: 0;
}

.job-position-container > .row,
.education-container > .row {
  margin-top: 20px;
}

.job-position-container > .row:last-child,
.education-container > .row:last-child {
  margin-bottom: 20px;
}

#jobEndDate {
  width: 65%;
}

#jobEndDateLabel {
  text-align: right;
}

.drop-box {
  background: #F8F8F8;
  border: 2px dashed #DDD;
  width: 200px;
  height: 280px;
  text-align: center;
  padding-top: 25px;
  margin: 10px 0;
}

.thumb {
  width: 200px;
  height: 280px;
  float: none;
  position: relative;
  border: 2px solid #DDD;
}

#userPhoto, #addPhoto {
  display: inline-block !important;
}

.mainUserInfo {
  margin: 20px 0;
}

.main-info {
  background-color: #F8F8F8;
}

.center-content {
  text-align: center;
}

.cursor-pointer {
  cursor: pointer;
}

.add-padding-left {
  padding-left: 50px;
}

.mainUserInfo input,
.job-position-container input,
.education-container input {
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 2px dashed #e5e5e5;
  color: #000;
}

.logout-btn {
  position: absolute;
  bottom: 0;
  vertical-align: middle;
  color: #fff;
  background-color: inherit;
}

.logout-btn > i {
  vertical-align: middle;
  margin-right: 5px
}
::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    #9e9e9e;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #9e9e9e;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #9e9e9e;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:    #9e9e9e;
}