<div class="row education-container">
    <h4>Add new school
        <save-button
                ng-click="$ctrl.saveSchoolData(school)"
        ></save-button>
    </h4>
    <hr>

    <div class="row">
        <div class="form-group">
            <span style="display: none"><input type="text" ng-model="school.user_id"></span>
            <label for="schoolName"
                   class="col-md-2 control-label">
                School
            </label>
            <div class="col-md-10">
                <input type="text"
                       ng-model="school.name"
                       id="schoolName"
                       class="col-md-10">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <label for="courseName"
                   class="col-md-2 control-label">
                Course name
            </label>
            <div class="col-md-10">
                <input type="text"
                       ng-model="school.course_name"
                       id="courseName"
                       class="col-md-10">
            </div>
        </div>
    </div>

    <div class="row">
        <div class="form-group">
            <label for="jobStartDate"
                   class="col-md-2 control-label">
                Start date
            </label>
            <div class="col-md-3">
                <input type="date"
                       ng-model="school.start_date"
                       id="jobStartDate"
                       class="col-md-12">
            </div>

            <label for="jobEndDate"
                   id="jobEndDateLabel"
                   class="col-md-2 control-label">
                End date
            </label>
            <div class="col-md-5">
                <input type="date"
                       ng-model="school.end_date"
                       id="jobEndDate"
                       class="col-md-8">
            </div>
        </div>
    </div>

</div>